@import './reset.css';

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #FFDA85;
}

.content-container {
  background-color: #fff9eb;
  color: #283D3B;
  max-width: 600px;
  width: 90%;
  height: fit-content;
  padding: 0 30px 10px;
  margin-top: 150px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
}

.main-title {
  font-size: 2em;
  font-weight: bold;
  margin: 25px 0;
  color: #197278;
}

input, textarea {
  border: 1px solid gray;
  padding: 5px;
}
