@import './reset.css';

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content-container {
  border: 2px solid blue;
  max-width: 600px;
  width: 90%;
  height: fit-content;
  padding: 10px;
  margin-top: 150px;
}

.main-title {
  font-size: 2em;
  margin: 15px 20px;
}

input, textarea {
  border: 1px solid gray;
  padding: 5px;
}
